/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #212121;
    --sidebar-color: #6d9886;
    --primary-color: #d9cab3;
    --primary-color-light: #6d9875;
    --toggle-color: #DDD;
    --text-color: #f6f6f6;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

.menu-links{
    position: relative;
    left:-30px;
}

.sidebar li{
    min-width: 28px;
}

.card-block{
    padding: 2rem 2rem;
    
}

.nav-links{
    width: 200%;
}



.py{
    background-color: #18191a;
    padding-top: 1rem;
}

.col-md-4{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* footer css  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    background: var(--body-color);
    font-family: "Open Sans", "Noto Sans", HelveticaNeueCyr, Helvetica, sans-serif;
    font-size: 11pt;
}

footer#site-footer {
    margin: 0 auto;
    width: 100%;
    background: var(--body-color);
    padding: 1rem;
    color: #f1f1f1;
}

footer#site-footer a {
    color: #f1f1f1;
    text-decoration: none;
}

footer#site-footer a:hover {
    color: var(--sidebar-color);
}

footer#site-footer h1 {
    color: #d9cab3;
}

footer#site-footer section.horizontal-footer-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.38rem 2rem;
}

footer#site-footer section.horizontal-footer-section#footer-top-section {
    justify-content: center;
}

footer#site-footer #footer-logo {
    margin-right: auto;
    flex-shrink: 0;
}

footer#site-footer #footer-logo img {
    height: 2.28rem;
}

footer#site-footer ul#footer-top-menu {
    padding: 0;
    margin: 0;
}

footer#site-footer ul#footer-top-menu li {
    display: inline;
    list-style-type: none;
    margin-right: 1.32rem;
    font-weight: bold;
}

footer#site-footer ul#footer-top-menu li a {
    text-decoration: none;
}

footer#site-footer .footer-top-menu-item-active {
    position: relative;
}



footer#site-footer .footer-top-menu-item-active a:hover {
    color: #00c3ce;
}

footer#site-footer .footer-top-menu-item-active::before {
    content: "";
    background: #007ba6;
    padding: 0.15rem 0;
    width: 100%;
    position: absolute;
    top: 1.68em;
}

footer#site-footer .footer-top-menu-item-active:hover::before {
    background: #00c3ce;
    transition-duration: 0.6s;
}

footer#site-footer #footer-buttons-container {
    margin-left: auto;
    flex-shrink: 0;
}

footer#site-footer a.footer-button {
    background: transparent;
    border: 0.15rem solid var(--primary-color);
    border-radius: 1.38rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

footer#site-footer a.footer-button:hover {
    border-color: #00c3ce;
}

footer#site-footer section.horizontal-footer-section#footer-middle-section {
    align-items: flex-start;
}

footer#site-footer .footer-columns {
    flex-basis: 18%;
    padding-right: 1rem;
}

footer#site-footer .footer-columns-large {
    flex-basis: 46%;
    padding-right: 2rem;
}

footer#site-footer .footer-columns h1 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 800;
}

footer#site-footer .footer-columns.footer-columns-large h1 {
    font-size: 1.28rem;
    margin-top: 3rem;
    margin-bottom: 1.32rem;
}

footer#site-footer .footer-columns.footer-columns-large h1:first-child {
    margin-top: 0;
}

footer#site-footer ul.footer-column-menu {
    margin: 0;
    padding: 0;
}

footer#site-footer ul.footer-column-menu li {
    list-style-type: none;
    margin-bottom: 0.68rem;
    font-size: 0.88rem;
}

footer#site-footer #footer-about address {
    font-style: normal;
    font-weight: bold;
}

footer#site-footer #footer-about address p img {
    margin-right: 0.68rem;
}

footer#site-footer #footer-about a.footer-button {
    margin-top: 0.32rem;
}

footer#site-footer section.horizontal-footer-section#footer-bottom-section {
    /* padding: 1.32rem 0; */
    margin: 2rem 2rem 1.32rem 2rem;
    border-top: 0.05rem solid #666666;
}

footer#site-footer #footer-social-buttons {
    justify-self: flex-end;
    margin-left: auto;
}

footer#site-footer #footer-social-buttons img {
    margin-left: 0.68rem;
}

footer#site-footer #footer-social-buttons img:hover {
    cursor: pointer;
}






@media screen and (max-width: 959px) {

    footer#site-footer {
        width: 100%;
    }

    footer#site-footer section.horizontal-footer-section {
        flex-direction: column;
        flex-wrap: wrap;
    }

    footer#site-footer section.horizontal-footer-section div {
        flex-basis: 100%;
        width: 100%;
    }

    footer#site-footer ul li {
        display: block !important;
        padding: 1em !important;
        border-top: 1px solid #555555;
        border-bottom: none;
        border-left: none;
        border-right: none;
        font-size: 1.15rem !important;
    }

    footer#site-footer ul li:first-child {
        border-top: none;
    }

    footer#site-footer a.footer-button {
        display: block;
        text-align: center;
        max-width: 350px;
        margin: 0.32rem auto;
    }

    footer#site-footer section.horizontal-footer-section#footer-top-section div {
        margin-top: 0;
        margin-bottom: 1.68rem;
    }

    footer#site-footer #footer-logo {
        margin-right: 0;
    }

    footer#site-footer #footer-buttons-container {
        margin-left: 0;
    }

    footer#site-footer ul#footer-top-menu {
        width: 100%;
        margin: 2rem 0 0 0;
    }

    footer#site-footer .footer-top-menu-item-active::before {
        display: none;
    }

    footer#site-footer #footer-about {
        margin-bottom: 3rem;
    }

    footer#site-footer .footer-columns-large,
    footer#site-footer .footer-columns {
        padding-right: 0;
    }

    footer#site-footer .footer-columns {
        margin-top: 0;
        margin-bottom: 4rem;
    }

    footer#site-footer .footer-columns:last-child {
        margin-bottom: 0;
    }

    footer#site-footer .footer-columns h1 {
        text-align: center;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
    }

    footer#site-footer ul.footer-column-menu li {
        margin-bottom: 0;
        display: block;
        text-align: center;
    }

    footer#site-footer section#footer-bottom-section div {
        text-align: center;
    }

    footer#site-footer section.horizontal-footer-section#footer-bottom-section {
        margin: 1.32rem 0;
        padding: 0;
        border-top: 0;
    }

    footer#site-footer section#footer-bottom-section #footer-social-buttons {
        margin-top: 1.32rem;
    }
}

